.u-pb-0 {
  padding-bottom: 0;
}

.u-pb-auto {
  padding-bottom: auto;
}

.u-pb-5 {
  padding-bottom: 0.5rem;
}

.u-pb-10 {
  padding-bottom: 1rem;
}

.u-pb-15 {
  padding-bottom: 1.5rem;
}

.u-pb-20 {
  padding-bottom: 2rem;
}

.u-pb-25 {
  padding-bottom: 2.5rem;
}

.u-pb-30 {
  padding-bottom: 3rem;
}

.u-pb-35 {
  padding-bottom: 3.5rem;
}

.u-pb-40 {
  padding-bottom: 4rem;
}

.u-pb-50 {
  padding-bottom: 5rem;
}

.u-pb-60 {
  padding-bottom: 6rem;
}

.u-pb-65 {
  padding-bottom: 6.5rem;
}

.u-pb-70 {
  padding-bottom: 7rem;
}

.u-pb-80 {
  padding-bottom: 8rem;
}

.u-pb-90 {
  padding-bottom: 9rem;
}

.u-pb-100 {
  padding-bottom: 10rem;
}
