.u-pr-0 {
  padding-right: 0;
}

.u-pr-auto {
  padding-right: auto;
}

.u-pr-5 {
  padding-right: 0.5rem;
}

.u-pr-10 {
  padding-right: 1rem;
}

.u-pr-15 {
  padding-right: 1.5rem !important;
}

.u-pr-20 {
  padding-right: 2rem;
}

.u-pr-30 {
  padding-right: 3rem;
}

.u-pr-40 {
  padding-right: 4rem;
}

.u-pr-50 {
  padding-right: 5rem;
}

.u-pr-60 {
  padding-right: 6rem;
}

.u-pr-70 {
  padding-right: 7rem;
}

.u-pr-80 {
  padding-right: 8rem;
}

.u-pr-90 {
  padding-right: 9rem;
}

.u-pr-100 {
  padding-right: 10rem;
}
