.u-pt-auto {
  padding-top: auto;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pt-5 {
  padding-top: 0.5rem;
}

.u-pt-10 {
  padding-top: 1rem;
}

.u-pt-12 {
  padding-top: 12px;
}

.u-pt-15 {
  padding-top: 1.5rem;
}

.u-pt-20 {
  padding-top: 2rem;
}

.u-pt-30 {
  padding-top: 3rem;
}

.u-pt-40 {
  padding-top: 4rem;
}

.u-pt-50 {
  padding-top: 5rem;
}

.u-pt-60 {
  padding-top: 6rem;
}

.u-pt-70 {
  padding-top: 7rem;
}

.u-pt-80 {
  padding-top: 8rem;
}

.u-pt-90 {
  padding-top: 9rem;
}

.u-pt-100 {
  padding-top: 10rem;
}
