.u-ml-auto {
  margin-left: auto;
}

.u-ml-5 {
  margin-left: 0.5rem;
}

.u-ml-10 {
  margin-left: 1rem;
}

.u-ml-15 {
  margin-left: 1.5rem;
}

.u-ml--16 {
  margin-left: -16px;
}

.u-ml-20 {
  margin-left: 20px;
}

.u-ml-24 {
  margin-left: 24px;
}

.u-ml-30 {
  margin-left: 3rem;
}

.u-ml-40 {
  margin-left: 4rem;
}

.u-ml-50 {
  margin-left: 5rem;
}

.u-ml-60 {
  margin-left: 6rem;
}

.u-ml-70 {
  margin-left: 7rem;
}

.u-ml-80 {
  margin-left: 8rem;
}

.u-ml-90 {
  margin-left: 9rem;
}

.u-ml-100 {
  margin-left: 10rem;
}
