.u-mt-auto {
  margin-top: auto;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mt-2 {
  margin-top: 0.25rem;
}

.u-mt-5 {
  margin-top: 0.5rem;
}

.u-mt-6 {
  margin-top: 0.6rem;
}

.u-mt-7 {
  margin-top: 0.7rem;
}

.u-mt-8 {
  margin-top: 0.8rem;
}

.u-mt-9 {
  margin-top: 0.9rem;
}

.u-mt-10 {
  margin-top: 1rem;
}

.u-mt-15 {
  margin-top: 1.5rem;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-mt-24 {
  margin-top: 24px;
}

.u-mt-25 {
  margin-top: 2.5rem;
}

.u-mt-28 {
  margin-top: 28px;
}

.u-mt-30 {
  margin-top: 3rem;
}

.u-mt-32 {
  margin-top: 32px;
}

.u-mt-40 {
  margin-top: 4rem;
}

.u-mt-50 {
  margin-top: 5rem;
}

.u-mt-60 {
  margin-top: 6rem;
}

.u-mt-70 {
  margin-top: 7rem;
}

.u-mt-80 {
  margin-top: 8rem;
}

.u-mt-90 {
  margin-top: 9rem;
}

.u-mt-100 {
  margin-top: 10rem;
}
