.u-mr-auto {
  margin-right: auto;
}

.u-mr-2 {
  margin-right: 0.25rem !important;
}

.u-mr-4 {
  margin-right: 4px;
}

.u-mr-5 {
  margin-right: 0.5rem !important;
}

.u-mr-8 {
  margin-right: 8px !important;
}

.u-mr-10 {
  margin-right: 1rem;
}

.u-mr-12 {
  margin-right: 12px;
}

.u-mr-15 {
  margin-right: 1.5rem;
}

.u-mr-20 {
  margin-right: 20px;
}

.u-mr-30 {
  margin-right: 3rem;
}

.u-mr-40 {
  margin-right: 4rem;
}

.u-mr-50 {
  margin-right: 5rem;
}

.u-mr-60 {
  margin-right: 6rem;
}

.u-mr-70 {
  margin-right: 7rem;
}

.u-mr-80 {
  margin-right: 8rem;
}

.u-mr-90 {
  margin-right: 9rem;
}

.u-mr-100 {
  margin-right: 10rem;
}
