.o-table-responsive {
  overflow: auto;
  @include cesppa-scroll-bar;
}

.o-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: $off-white;
  }

  th {
    white-space: nowrap;
    text-align: left;
  }

  th,
  td {
    border: 0.1rem solid $border-color;
    padding: 0.5rem 1rem;
  }

  tbody tr:hover {
    background-color: $off-white;
  }
}

.o-table--payout {
  td {
    padding-top: 10px;
  }
}