$dialog-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
$raised-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
$high-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
$close-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
$metronic-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
$box-shadow-1: 0px 2px 4px rgba(148, 150, 154, 0.2);
$box-shadow: 0px 2px 4px rgba(148, 150, 154, 0.2);
$box-shadow-hover: 0px 5px 14px rgba(148, 150, 154, 0.25);
