$header-height: 5.25rem;
$sub-header-height: 4.5rem;
$mobile-header-height: 6rem;

// General height
$height-xl: 5rem;
$height-lg: 4.8rem;
$height-md: 4rem;
$height-sm: 36px;
$height-xs: 2.6rem;

// Button height
$btn-height-xl: 5rem;
$btn-height-lg: 4.8rem;
$btn-height-md: 4rem;
$btn-height-sm: 36px;
$btn-height-xs: 26px;
