$z-index-tooltip: 9;
$z-index-popover: 9;
$z-index-notification-popup: 10;
$z-index-ca-drop-down: 10;
$z-index-solar-wrapper: 94;

// Sub Menu
$z-index-submenu: 94;

// Sub Header
$z-index-subheader: 95;

// Header
$z-index-header: 96;

// Mobile Header
$z-index-mobile-header: 96;

// Page Overlay
$z-index-page-overlay: 97;

// Sidebar
$z-index-sidebar: 98;

// Dropzone
$z-index-dropzone: 99;

// Alert
$z-index-alert: 100;
