.u-bgc-white {
  background-color: $white;
}

.u-bgc-gray2 {
  background-color: $gray2;
}

.u-bgc-secondary {
  background-color: $secondary-bg;
}

.u-bgc-gray-default,
.u-bgc-gray-default-on-hover:hover {
  background-color: $off-white;
}
