.u-color-white {
  color: $white;
}

.u-color-black {
  color:$black;
}

.u-color-dark {
  color: $text-color-dark;
}

.u-color-primary {
  color: $primary-color;
}

.u-color-cesppa-blue {
  color: $cesppa-blue;
}

.u-color-gray-900 {
  color: $text-color;
}

.u-color-paypal {
  color: #003087;
}

.u-color-btc,
.u-color-bitcoin {
  color: #ff7b00;
}

.u-color-eth {
  color: #dfa2d6;
}

.u-color-bank {
  color: #f06595;
}

.u-color-coolgrey {
  color: $cool-gray;
}

.u-color-success {
  color: $success-color;
}

.u-color-severity-critical {
  color: $severity-critical;
}

.u-color-severity-high {
  color: $severity-high;
}

.u-color-severity-medium {
  color: $severity-medium;
}

.u-color-severity-info {
  color: $severity-info;
}

.u-color-severity-low {
  color: $severity-low;
}

.u-color-alt {
  color: $text-color-alt;
}