.u-height-auto {
  height: auto;
}

.u-height-xl {
  height: $height-xl;
}

.u-height-lg {
  height: $height-lg;
}

.u-height-md {
  height: $height-md;
}

.u-height-sm {
  height: $height-sm;
}

.u-height-xs {
  height: $height-xs;
}

.u-height-full {
  height: 100%;
}

.u-height-100vh {
  min-height: 100vh !important;
}

.u-minh-auto {
  min-height: auto;
}

@media (min-width: 768px) {
  .u-height-xl-at-768 {
    height: $height-xl;
  }

  .u-height-lg-at-768 {
    height: $height-lg;
  }

  .u-height-md-at-768 {
    height: $height-md;
  }

  .u-height-sm-at-768 {
    height: $height-sm;
  }

  .u-height-xs-at-768 {
    height: $height-xs;
  }
}
