.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-hidden-with-box-shadow {
  overflow: hidden;
  padding: 2px 2px 3px;
  margin: -2px -2px -3px;
}

.u-single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-hide-input {
  @include hideInput;
}

.u-box-circle {
  border-radius: 50%;
}

.u-section-title-hr {
  padding-bottom: 1rem;
  border: 0;
  border-bottom: 0.1rem solid $cool-gray;
  margin-bottom: 2rem;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-position-relative {
  position: relative;
}

.u-flex-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;

  .o-btn {
    margin: 0.5rem;

    @media (max-width: 375px) {
      width: 100%;
    }
  }
}

.u-text-wrap {
  white-space: normal;
}

.u-text-one-line,
.u-text-single-line {
  @include singleLine;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-lst-none {
  list-style-type: none !important;
}

.u-tooltip,
[data-tooltip-title] {
  position: relative;
  line-height: 1;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid transparent;
    border-bottom: 12px solid rgba(51, 51, 51, 0.8);
    position: absolute;
    bottom: 0;
    top: calc(100% - 15px);
    left: 50%;
    transform: translate(-50%);
  }

  &::after {
    content: attr(data-tooltip-title);
    position: absolute;
    font-size: $fs-sm;
    width: auto;
    white-space: nowrap;
    background: rgba(51, 51, 51, 0.8);
    display: block;
    padding: 10px 15px;
    border-radius: $border-radius;
    font-family: $primary-font;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: $white;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 13px);
  }

  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
    // transition-delay: 1s;
    z-index: $z-index-tooltip;
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      pointer-events: auto;
    }

    &.delayed {
      &::before,
      &::after {
        transition-delay: 2s;
      }
    }
  }
}

.u-list-type-upper-alpha {
  list-style-type: upper-alpha;
}

.u-list-position-inside {
  list-style-position: inside;
}
