.u-font-10,
.u-fs-10 {
  font-size: $fs-xxs;
}

.u-font-11,
.u-fs-11 {
  font-size: 11px;
  line-height: 15px;
}

.u-font-12,
.u-fs-12 {
  font-size: $fs-xs;
}


.u-font-13,
.u-fs-13 {
  font-size: 13px;
  line-height: 15px;
}

.u-font-14,
.u-fs-14 {
  font-size: $fs-sm;
}

.u-font-16,
.u-fs-16 {
  font-size: $fs-md;
}

.u-font-18,
.u-fs-18 {
  font-size: $fs-lg;
}

.u-font-20,
.u-fs-20 {
  font-size: $fs-xl;
}

.u-font-22,
.u-fs-22 {
  font-size: $fs-xxl;
}

.u-font-24,
.u-fs-24 {
  font-size: $fs-h3;
}

.u-font-30,
.u-fs-30 {
  font-size: $fs-h2;
}

.u-font-38,
.u-fs-38 {
  font-size: $fs-h1;
}

.u-font-68,
.u-fs-68 {
  font-size: 68px;
}

.u-font-150,
.u-fs-150 {
  font-size: 150%;
}

.u-lh-1 {
  line-height: 1;
}

.u-lh-140 {
  line-height: 1.4;
}

.u-font-montserrat,
.u-ff-montserrat {
  font-family: $primary-font;
}
