.u-hidden {
  display: none;
}

@media (max-width: 374px) {
  .u-visible-at-374 {
    display: block;
  }
}

@media (min-width: 375px) {
  .u-visible-at-375 {
    display: block;
  }
}

@media (min-width: 414px) {
  .u-visible-at-414 {
    display: block;
  }
}

@media (min-width: 500px) {
  .u-visible-at-500 {
    display: block;
  }
}

@media (min-width: 768px) {
  .u-visible-at-768 {
    display: block;
  }
}

@media (min-width: 1024px) {
  .u-visible-at-1024 {
    display: block;
  }
}
