@import './flex-grid';
@import './l-grid';
@import './l-flex';
@import './l-stack';
@import './l-form';
@import './misc';

.l-wrap {
  width: 100%;
  max-width: $site-width;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-right: auto;
  margin-left: auto;

  &--fluid {
    max-width: 100%;
  }

  &--650 {
    max-width: 65rem;
  }

  &--700 {
    max-width: 70rem;
  }

  &--750 {
    max-width: 75rem;
  }

  .is-mobile & {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.l-d-f,
.l-flex {
  display: flex;
}

.l-stack {
  display: grid;
  grid-gap: 2rem;

  &--gap-10 {
    grid-gap: 1rem;
  }

  &--gap-20 {
    grid-gap: 2rem;
  }

  &--horizontal {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  &--form {
    @media (min-width: 375px) {
      grid-gap: 2rem 1.5rem;
    }

    &.l-stack--horizontal {
      grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    }
  }
}
