@media (min-width: 768px) {
  .u-mr-5-at-768 {
    margin-right: 0.5rem;
  }
  .u-mr-10-at-768 {
    margin-right: 1rem;
  }
  .u-mr-15-at-768 {
    margin-right: 1.5rem;
  }
  .u-mr-20-at-768 {
    margin-right: 2rem;
  }
  .u-mr-25-at-768 {
    margin-right: 2.5rem;
  }
  .u-mr-30-at-768 {
    margin-right: 3rem;
  }
}
